.pet-list, ul {
  list-style: none;        /* Removes bullet points */
  padding: 0;              /* Removes default padding */
  margin: 0;               /* Removes default margin */
}

.by-age {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.main-items {
  display: flex;
  flex-direction: column;
}

.header{
  background-color: wheat;
  width:100%
}


.filters {
  position: absolute;
  top: 250px;
  left: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

.summary{
  background-color: wheat;
  border-radius: 10px;
}

.sum-card{
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1em;
  margin-right: 20px;
}

.title{
  margin-top: 10px;
}
.sum-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  margin: 20px;
}

.pet-card{
  background-color: wheat;
  border-radius: 10px;
  padding: 1em;
  margin: 35px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
